<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>hello {{ username }}</h2>
    <form action="{{ url_for('index') }}" method="GET">
        <button type="submit">Log out</button>
    </form>
    <h1 align="center">Search by ISBN or author name</h1>
    <form align="center" action="{{url_for('books')}}" method="POST">
        <input type="text" placeholder="Search by ISBN" name="isbn"><br><br>
        <input type="text" name="author" placeholder="Search by author name"><br><br>
        <button type="submit">search for books</button>
    </form>
  
</body>
</html>